.header a, a:hover{
   color: #f0ad4e;
  text-decoration: none;

}
.info_block{
  font-size: 120%;
  
}

.info-block .badge{
 font-size: 80%;xx

  
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;

   
}
    .btn-primary {
          margin-bottom: 30px;
   margin-left: 285px;
    background-color: #f0ad4e ;
    border-color: #f0ad4e;
}
.table tbody>tr>td.vert-aling {
 
  vertical-align: middle;
  
}
textarea.form-control {
  height: 200px;
  
}  
.info-block span {
 margin-right: 3%;
  
}  
.header h1 {
 letter-spacing: 15px;
 font-size: 300%;
	
}
.films_block {
   text-align: center;
}

.films_block img {
   margin-bottom: 5%;
   border-radius: 5px;
   border: solid 5px #dad7d5;
   width: 100%;
}
.films_label {
   padding: 2%;
   margin-bottom: 4%;  
}
.margin-8 {
  margin-top: 8%;  
}
.top-films {
    margin-right: 38px;
    margin-left: 12px;
}
.header p{
 color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #346279;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #346279;
}


.nav-pills>li>a{
   color: #fff;

}
.navbar {
    padding: 1%;
    border-right: 0%;
}




  @media (max-width: 767px) {
    .nav-pills>li {
   float: none;   

}
.nav-pills{
   text-align: center;


}
.header h1{
 letter-spacing: 5px;
 font-size: 280%;


}

.header{
   text-align: center

}
 }

.clear {
   clear: both;
   height: 67px;
}
.panel{
  border: none;
  
}
.panel-body {
  background-color: #f9f9f9;

}
.sitebar-header {
 font-size: 120%;
 letter-spacing: 2px; 

}
.panel-info>.panel-heading {
 background-color: #f0ad4e;
 color: white;
 border-color: transparent; 

}
.form-control {
  border-radius: 0px;

}
.form-control  {
 font-size: 14px; 

}
.list-group-item-warning {
 color: #8a6d3b;
 background-color: #f9f9f9;
}
.badge {
  background-color: #000000
}
.input-lg {
 font-size: 14px; 

}
.wrapper {
   min-height: 100%;

}

html, body {
 height: 100%;
}

footer {
 color: #666;
 background-color: #222;
 padding: 17px 0 18px 0;
 border-top: 1px solid #000;
}

footer a {
  color: #999;
}
footer a:hover {
 color: #efefef;
}