body {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	 top: 0;
	left: 0;
	margin: 0px;
	background: url(../img/back.png) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}

a {
	color: black;
	text-decoration: none;
}


.header-container {
	padding: 50px;
}


.header-nav-list {
	display: flex;
}

.header-nav-item:not(:last-child) {
	margin-right: 25px;
}

.selected-item {
	background-color: black;
}

.selected-item a {
	color: white;
}

.header-right {
	font-size: 18px;
	margin-right: 20px;
	margin-top: 60px;
	float: right;
	font-weight: 1000;
}


.header-left {
	float: left;
}


.main-container {
	padding: 0px;
	margin: 0px;
	padding-top: 150px;
	text-align: right;
	float: right;
}

.H1text {
	position:absolute;
	right: 50px;
	font-size: 72px;
	font-weight:900;
	color: rgb(39, 39, 39);
	top: 165px;
}

.H2text {
	position:absolute;
	top: 400px;
	right: 50px;
	font-size: 36px;
}


.description {
	position:absolute;
	top: 470px;
	right: 50px;
	font-size: 18px;
}


.hr-description {
	position:absolute;
	top: 390px;
	right: 50px;
	height: 30px;;
	width: 500px;
	background-color: rgb(0, 191, 255);
}


.description-a {
	position:absolute;
	top: 550px;
	right: 50px;
	font-size: 18px;
	font-weight: 900;
}


.social-menu {
	position:absolute;
	top: 615px;
	right: 50px;
	display: flex;
}


.social-menu img {
	width: 32px;
	height: 30px;
}

.social-element:not(last-child) {
	margin-right: 7px;
}


.now {
	position:absolute;
	top: 740px;
	right: 50px;
	font-weight: 900;
	display: flex;
}

.now-img {
	aligh: center;
}

.NOW-text {	
	color: rgb(39, 39, 39);
	margin-right: 5px;
	font-size: 18px;
}

.now img {
	width: 25px;
	height: 23px;
}